[Unit]
Description=Run Hodler Suite services status sampler every 5 minutes

[Timer]
OnBootSec=2min
OnUnitActiveSec=5min
RandomizedDelaySec=20s
Persistent=true
Unit=status-sampler.service

[Install]
WantedBy=timers.target
