[Unit]
Description=Run UptimeRobot to Slack relay every 2 minutes

[Timer]
OnCalendar=*:0/2
RandomizedDelaySec=20
Persistent=true
Unit=uptimerobot-slack-relay.service

[Install]
WantedBy=timers.target
